.button-pink {
  color: white;
  background-color: $pink;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-pink:hover {
  opacity: .875;
}

.button-pink:active,
.button-pink.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-pink:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba($pink, .5);
}

.button-pink:disabled,
.button-pink.is-disabled {
  opacity: .5;
}
